<?xml version="1.0"?>
<robot name="quadrobot" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- Define arguments with default values -->
    <xacro:arg name="hardware_plugin" default="gz_ros2_control/GazeboSimSystem" />
    <xacro:arg name="config_ros2_control_path"
        default="$(find quadrobot_viewer)/config/ros2_control.yaml" />

    <!-- Include the xacro files -->
    <xacro:include filename="$(find quadrobot_viewer)/urdf/quadrobot.xacro" />
    <xacro:include filename="$(find quadrobot_viewer)/urdf/quadrobot.ros2_control.xacro" />

    <!-- Using the MACRO_QUADROBOT_ROS2_CONTROL -->
    <xacro:MACRO_QUADROBOT_ROS2_CONTROL hardware_plugin="$(arg hardware_plugin)" />

    <!-- Using Plugin for Gazebo -->
    <gazebo>
        <plugin filename="libgz_ros2_control-system.so"
            name="gz_ros2_control::GazeboSimROS2ControlPlugin">
            <parameters>$(arg config_ros2_control_path)</parameters>
        </plugin>
    </gazebo>
</robot>
  